Package: com.brycedev.spotit
Name: Spotit
Depends: mobilesubstrate, firmware (>=9.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: Display reddit posts in your spotlight.
Maintainer: Bryce Jackson
Author: Bryce Jackson
Section: Tweaks
